@import url(./capture.css);
@import url(./wlan.css);

:root {
    --header-color: #090E17;
    --primary-color: #FF5200;
    --primary-color-light: #FF7429;
    --primary-color-dark: #D93D00;
    --primary-color-light-4: #FF9452;
    --primary-color-light-2: #FFCDA3;
    --red-color: #F13535;
    --green-color: #00B34D
  }

/* fix mustache data flickering when switching languages */
[v-cloak] {
    display: none;
}

.container {
    max-width: 400px;
    /* height: 700px; */
    background-color: #f5f5f5;
    margin: 0 auto;
}

.content {
    padding: 8px;
}

span.icon {
    display: inline-block;
}

/* Header */
header.header-box {
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    color: #fff;
    background-color: var(--header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header-title {
    display: inline-block;
    height: 100%;
}
img.logo {
    height: 100%;
}

.header-select {
    display: flex;
    align-items: center;
}

.header-select .icon {
    height: 20px;
}

.header-select .ms-select {
    width: 85px;
}

/* Header - Language Select */
.select-lang .ms-select .ms-select-wrapper input {
    border-color: transparent;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
}

.select-lang .ms-select .ms-select-wrapper .icon-arrow {
    border-color: #fff;
}

/* Card */
.card {
    background-color: #ffffff;
    border: 1px solid #ebebeb;
    border-radius: 6px;
    margin-bottom: 8px;
    padding: 8px 12px;
}

.card-title,
.card-item {
    display: flex;
    height: 48px;
    justify-content: space-between;
    align-items: center;
}

.card-item-label {
    color: #333333;
}

.card-title,
.card-title-text {
    color: #333333;
    font-weight: 700;
    font-size: 17px;
}

.card-item-content {
    display: flex;
    align-items: center;
    position: relative;
}

.card-list {
    border-radius: 6px;
    border: 1px solid #e2e2e2;
    padding: 0 10px;
    margin: 10px auto;
}

/* Live View */
.video-box {
    height: 195px;
    background-color: black;
}

.video-box img {
    width: 100%;
    height: 100%;
}
.image-card .ms-select {
    width: 113px;
}

.image-card .resolution-select.ms-select {
    width: 140px;
}


.img-threshold {
    display: flex;
    align-items: center;
}
.img-threshold + .card-item-content .slider-input {
    width: 125px !important;
    margin: 0;
}

.img-lumino-label {
    color: var(--primary-color);
    margin-left: 5px;
}

/* upgrade progress bar */
#progress-inner {
    width: 100%;
    height: 34px;
    /* implement infinite progress bar using CSS */
    /* animation: upgradeProgress 1s infinite linear;
    -webkit-animation: upgradeProgress 1s infinite linear; */
}

@keyframes upgradeProgress {
    from {
        width: 0px;
    }

    to {
        width: 100%;
    }
}

@-webkit-keyframes upgradeProgress {
    from {
        width: 0px;
    }

    to {
        width: 200px;
    }
}

/* MQTT Settings */
.mqtt-card .card-item,
.card .flex-start {
    /* auto-height textarea */
    align-items: flex-start;
    height: auto;
    min-height: 40px;
    margin-bottom: 8px;
}
.mqtt-card .card-title, .device-card .card-title {
    margin-bottom: 15px;
}

/* Device Maintenance */
.device-card .card-item-content button:nth-child(1) {
    margin: 8px;
    width: 80px;
}

.normal-select .ms-select {
    width: 164px;
}
.normal-select.disabled {
    cursor: not-allowed;
}
.normal-select.disabled .ms-select{
    pointer-events: none;
}
.mqtt-card .card-item .card-item-content  {
    width: 190px;
}
.mqtt-card .card-item .card-item-content input, 
.mqtt-card .card-item .card-item-content textarea, 
.mqtt-card .card-item .card-item-content .ms-select {
    width: 100% !important;
}

/* Host input group: protocol prefix + host */
.host-input-group {
    display: flex;
    align-items: center;
}
.host-input-group .prefix-box {
    display: inline-block;
    padding: 0 8px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #e2e2e2;
    border-right: none;
    border-radius: 4px 0 0 4px;
    background-color: #f7f7f7;
    color: #666;
}
.host-input-group input[type="text"] {
    border-radius: 0 4px 4px 0;
}
.mqtt-card .item-button {
    justify-content: flex-end;
}
.mqtt-card .item-button button {
    width: 82px;
}


/* tailwind style */
.mr-5 {
    margin-right: 10px;
}



/* MQTTS upload time new requirement */
.upload-box .card-item:first-child{
    margin-bottom: 0;
}
.upload-box .card-item-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}