/* WLAN Connection */
.wlan-card .card-list {
    /* set maximum display to 4.5 rows: 44px * 4.5 */
    max-height: 198px;
    min-height: 44px;
    overflow-y: scroll;
}

.wlan-card .card-list .card-list-row {
    height: 44px;
    line-height: 44px;
    border-bottom: 1px solid #e2e2e2;
    cursor: pointer;
    position: relative;
}

.wlan-card .card-list .card-list-row:last-child {
    border-bottom: 0
}


.wlan-card .card-list .card-list-row .left {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: relative;
}

/* dynamic loading icon */
.loading {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 16px;
}

.loading>div {
    position: absolute;
    width: 1px;
    height: 4px;
    margin: 4px;
    margin-top: 1px;
    margin-left: 0;
    border-radius: 0;
    display: inline-block;
    background-color: currentColor;
    animation: line-spin-clockwise-fade 1s infinite ease-in-out;
}

.loading>div:nth-child(1) {
    top: 15%;
    left: 50%;
    transform: rotate(0deg);
    animation-delay: -0.875s;
}

.loading>div:nth-child(2) {
    top: 25.2512626585%;
    left: 74.7487373415%;
    transform: rotate(45deg);
    animation-delay: -0.75s;
}

.loading>div:nth-child(3) {
    top: 50%;
    left: 85%;
    transform: rotate(90deg);
    animation-delay: -0.625s;
}

.loading>div:nth-child(4) {
    top: 74.7487373415%;
    left: 74.7487373415%;
    transform: rotate(135deg);
    animation-delay: -0.5s;
}

.loading>div:nth-child(5) {
    top: 84.9999999974%;
    left: 50.0000000004%;
    transform: rotate(180deg);
    animation-delay: -0.375s;
}

.loading>div:nth-child(6) {
    top: 74.7487369862%;
    left: 25.2512627193%;
    transform: rotate(225deg);
    animation-delay: -0.25s;
}

.loading>div:nth-child(7) {
    top: 49.9999806189%;
    left: 15.0000039834%;
    transform: rotate(270deg);
    animation-delay: -0.125s;
}

.loading>div:nth-child(8) {
    top: 25.2506949798%;
    left: 25.2513989292%;
    transform: rotate(315deg);
    animation-delay: 0s;
}

.loading.big {
    width: 24px;
    height: 24px;
    display: block;
    margin: 5px auto;
}

.loading.big>div {
    width: 2px;
    height: 8px;
}
.loading-shade {
    background-color: #cecece18;
}


@keyframes line-spin-clockwise-fade {
    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}


.icon-tick {
    display: inline-block;
    width: 15px;
    height: 7px;
    border-left: 2px solid var(--primary-color);
    border-bottom: 2px solid var(--primary-color);
    transform: rotate(-45deg);
    position: absolute;
    bottom: 6px;
}

.wlan-card .card-list .card-list-row .text {
    position: absolute;
    left: 26px;
}

.wlan-card .card-list .card-list-row .right {
    float: right;
    height: 44px;
    position: relative;
}

/* WiFi encryption lock icon drawing */
/* lock rectangle */
.right .signal-lock {
    display: inline-block;
    width: 0.5em;
    height: 0.3em;
    border: 1.6px solid #333333;
    padding: 0;
    position: absolute;
    bottom: 12px;
    left: -18px;
}

/* lock semicircle */
.right .signal-lock::before {
    display: inline-block;
    content: "";
    width: 0.25em;
    height: 0.15em;
    border: 1.6px solid #333333;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-color: transparent;
    position: absolute;
    bottom: 0.35em;
    left: 0.02em;
}

/* signal strength style */
.right .signal {
    height: 50%;
    width: 27px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
    position: relative;
}

.signal .signal-col {
    display: inline-block;
    width: 0.2em;
    height: 100%;
    border: 1px solid var(--primary-color-light-2);
    background-color: var(--primary-color-light-2);
    margin: 0;
    padding: 0;
}

.signal .signal-col:nth-child(1) {
    height: 50%;
}

.signal .signal-col:nth-child(2) {
    height: 66.6%;
}

.signal .signal-col:nth-child(3) {
    height: 83.3%;
}

.signal .signal-col:nth-child(4) {
    height: 100%;
}

.signal .signal-col.signal-active {
    border: 1px solid var(--primary-color);
    background-color: var(--primary-color);
}

.error-password {
    border: 1px solid #E12424 !important;
}